@model IEnumerable<ContainerModel>
<div  style="border: 5px  solid red; padding:2px; margin:2px">
    <div>
        
        @foreach (var Container in Model)
        {
            <div class="form-horizontal" style="border: 2px  solid red; padding:2px; margin:2px">
                @using (Html.BeginForm(null, "Container", new { containerId = Container.Id }, FormMethod.Post))
                {
                    @Html.HiddenFor(modelContainer => Container.Id)
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DisplayFor(modelContainer => Container.Description)
                        </div>
                    </div>
                    @Html.HiddenFor(modelContainer => Container.SurveyId)
                    @*Batton*@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            
                        </div>
                    </div>
                }
                @await Component.InvokeAsync("Questions",new { 
                         ContainerId =  Container.Id,
                         Function = "Presentation"  })
            </div>
        }
    </div>
</div>